@model IEnumerable<EnglishWordsLearning.Models.WordViewModel>

@{
    ViewData["Title"] = "Words";
}

<h2>Word List</h2>
<table>
    <thead>
    <tr>
        <th>Word</th>
        <th>Translation</th>
        <th>Level</th>
        <th>Transcription</th>
        <th>Class</th>
        @* <th>Action</th> *@
    </tr>
    </thead>
    @* <a href="@Url.Action("AddWord", "Words")">Add New Word</a> *@
    <tbody>
    @foreach (var word in Model)
    {
        <tr>
            <td>@word.English</td>
            <td>@word.Russian</td>
            <td>@word.Level.ToUpper()</td>
            <td>@word.Transcription</td>
            <td>@word.Class</td>
            @* <td> *@
            @*     <form asp-action="RemoveWord" asp-controller="Words" method="post" onsubmit="return confirm('Are you sure you want to delete this word?');"> *@
            @*         <input type="hidden" name="id" value="@word.Id"/> *@
            @*         <button class="btn btn-danger" type="submit">X</button> *@
            @*     </form> *@
            @* </td> *@
        </tr>
    }
    </tbody>
</table>